     header {
        background-color: rgb(244,79,79);
        padding: 20px;
        text-align: center;
     }
     h1 {
        margin: 0%;
        color: rgb(255, 255, 255);
        font-size: 24px;
     }

     body {
        margin: 0;
     }

     p {
        font-size: 20px;
     }

     a {
       font-size: 20px;
     }

     main {
     margin: 10px;
     }


     #parent {
         display: flex;
         justify-content: space-around;
         width: 100%;
          }

     .contents {
          border: solid 3px rgb(238,204,204);
          flex-basis: 25%;
          flex-grow: 0%;
          flex-shrink: 0%;
          padding: 10px 15px;
          margin: 20px 0px;
          text-align: center;
     }
     .contents img {
          width: 70%;
          margin: 10px 0px;
     }
     .contents p:nth-of-type(2)::first-letter{
          font-weight: bold;
          color: rgb(97,206,249);
     }

     h2 {
     font-size: 25px;
     border-bottom:dotted 3px rgb(236,122,122);
     }

     h2::before {
     content: "⚫︎";
     color: rgb(239,111,139);
     }

     footer {
        background-color: rgb(244,79,79);
        text-align: center;
     }
      a:link {
         color: rgb(255,255,255);
       }
      a:visited{
         color: rgb(193,234,251);
       }
      a:hover{
         color: rgb(245,178,168);
      }



 @media screen and (max-width: 768px) {

     #parent {
         flex-direction: column;
          }
      h2 {
         font-size: 30px; 
      }
      p {
         font-size: 25px;
      }
   }

         
